@import url("https://fonts.googleapis.com/css?family=Jost");
@import url("https://fonts.googleapis.com/css?family=Anton");
@import url("https://fonts.googleapis.com/css?family=Vidaloka");


$font-stack:  'Anton', 'sans-serif';
$button-blue:rgb(87, 112, 252);

@mixin flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App{
  height: 100%;
  padding: 0px;
  margin: 0px;
  
  @include flex-center;
}

.header{
  background-color: rgb(10, 32, 156);
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-around;
}

.cartIcon{
  font-size: 40px;
  margin-right: 20px;
  margin-left: 0px;
}

.shopIcon{
  position: relative;
  top: 5px;
  margin-right: 5px;
}

.links, .title{
  color: white;
  line-height: 110px;
  font-size: 45px;
  font-family: $font-stack
}

.links{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.text-link{
  text-decoration: none;
  color: white;
  margin-left: 10px; 
}

.home{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homeContainer{
  background-color: rgb(240, 240, 240);
  margin-top: 40px;
  border-radius: 5px;
  padding: 30px;
  width: 60%;
  text-align: center;
  font-size: 30px;
  color: #2d2d2e;
  font-weight: bold;
}

.home h1{
  margin-bottom: 10px;
  font-family: 'Vidaloka', sans-serif;
  color: #2d2d2e;
  font-size: 30px;
}

.selectButton{
  height: 50px;
  width: 140px;
  cursor: pointer;
  opacity: 0.7;
  margin: 10px;
  padding: 10px;
  font-weight: bold;
  font-size: 25px;
  color: black;
  border-radius: 5px;
  transition: all 0.3s ease;
  &:hover {
    opacity: 0.8;
    color: black;
    background-color: $button-blue
  }
}

.shopContainer{
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.product{
  margin: 15px;
  border-radius: 10px;
  padding: 20px;
  background-color: rgb(166, 144, 218);
  @include flex-center;
  font-family: "Jost", "sans-serif";
  font-size: 20px;
}

.product h3{
 
  color: white;
  margin: 5px;
  font-size: 25px;
  text-align: center;
}
.product img{
  width: 250px;
  border-radius: 10px;
}
.product p{
  margin: 0px;
}
.productButton{
  height: 50px;
  width: 150px;
  font-size: 20px;
  margin: 5px;
  padding: 5px;
  border: none;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  background-color: rgb(109, 109, 255);
  &:hover {
    background-color: $button-blue
  }
}

.itemContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
  width: 70%;
  padding: 20px;
  border-radius: 10px;
}

.leftContainer{
  width: 30%;
  height: 90%;
  padding: 10px;
  background-color: rgb(218, 217, 217);
  box-shadow: 3px 3px 3px #888888;
  margin-right: 20px;
}

.leftContainer img{
  height: 100%;
  width: 100%;
  border-radius: 20px;
}

.description{
  font-size: 20px;
  width: 50%;
  margin: 0px;
  @include flex-center;
  padding: 10px;
  background-color: white;
  box-shadow: 3px 3px 3px #888888;
}
.description h1{
  font-family: "Anton", "sans-serif";
  margin: 0px;
}
.description p{
  font-family: "Jost", "sans-serif";
  margin: 0px;
}
.description h4{
  margin: 5px;
}

.inputArea{
 text-align: center;
}

.inputArea button{
  height: 50px;
  width: 50px;
  font-size: 30px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 10px;
  color: white;
  background-color: black;
}

.description input{
  text-align: center;
  height: 25px;
  font-size: 25px;
  margin: 5px;
  width: 15%;
}

.addButton{
  height: 40px;
  width: 200px;
  font-size: 20px;
  margin-bottom: 0px;
  padding: 5px;
  border: none;
  cursor: pointer;
  margin-top: 25px;
  color: white;
  border-radius: 5px;
  background-color: rgb(109, 109, 255);
}

.cartContainer{
  width: 100%;
  background-color: rgb(228, 227, 227);
  @include flex-center;
}

.row{
  border: 1px solid grey;
  margin-bottom: 10px;
  background-color: white;
  box-shadow: 5px 5px 5px rgb(87, 85, 85);
  padding: 15px;
  width: 40%;
  border-radius: 15px;
}

.imageContainer{
  height: 250px;
  width: 250px;
  float: left;
}

.cartContainer img{
  height: 100%;
  border-radius: 10px;
}

.cartDescription{
  @include flex-center;
  flex-wrap: wrap;
  float: right;
}

.cardText{
  font-family: 'Jost', sans-serif;
  font-weight: bold;
  font-size: 25px;
  margin: 8px;
}

.row .inputArea{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 45%;
}

.inputArea button{
  height: 40px;
  width: 40px;
  cursor: pointer;
  font-size: 25px;
  border-radius: 10px;
  color: white;
  background-color: black;
}

.quantityText{
  color: black;
  height: 50px;
  font-size: 35px;
  position: relative;
  top: 20px;
  margin-left: 5px;
  margin-right: 5px;
}

.checkout{
  margin-bottom: 10px;
  text-align: center;
}
.checkout button{
  height: 40px;
  width: 200px;
  font-size: 20px;
  padding: 5px;
  border: none;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  background-color: rgb(253, 186, 84);
}

.checkoutContainer{
  background-color: rgb(240, 240, 240);
  @include flex-center;
  position: absolute;
  margin-top: 200px;
  font-size: 30px;
  padding: 20px;
  border-radius: 10px;
  width: 60%;
  height: 200px;
  text-align: center;
  font-family: 'Anton', sans-serif;
}